[workspace]
channels = ["knime/label/nightly", "knime", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]

[dependencies]
python = "*"
knime-python-versions = "5.10.*"
knime-extension = "*"
google-ads = ">=28.0.0"
google-api-python-client = "*"
protobuf = "*"
mcp = ">=1.19.0,<2"
ruff = ">=0.13.2,<0.14"

[pypi-dependencies]
google-ads-mcp = ">=0.0.1"

[feature.build.dependencies]
python = "3.13.*"
knime-extension-bundling = "5.10.*"
jake = "*"

[feature.build.tasks]
build = { args = [{ "arg" = "dest", "default" = "./local-update-site" }], cmd = "build-python-extension . {{ dest }}"}

[environments]
build = {features = ["build"], no-default-feature = true}